
<table class='table' *ngIf="users && users.length">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Address</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor='let user of users'>
        <tr>
            <td><img src="data:image/JPEG;base64,{{user.ImageUrl}}" width=100px height="100px" > </td>
            <td>{{user.FirstName | uppercase }} {{user.LastName | uppercase }}</td>
            <td>{{user.Address}}</td>
            <td><button class="btn btn-danger" (click)="updateStat(1,user.UserID)">Decline</button></td>
            <td><button class="btn btn-primary" (click)="updateStat(2,user.UserID)">Approve</button></td>  
        </tr>
    </tbody>
</table>