<nav class="navbar navbar-inverse" style="flex-wrap: unset;">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">Census Made Easy</div>
      </div>
      <ul class="nav navbar-nav navbar-right" style="flex-direction: row; ">
        <li><a (click)="DashBoard()"><span class="glyphicon glyphicon-globe"></span> DashBoard</a></li>
        <li><a (click)="Logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
  
  <br><br>
  

<router-outlet></router-outlet>