<form class="col s12 white" #populationRegistrationForm="ngForm" (ngSubmit)="OnSubmit(populationRegistrationForm)">

  <div class="row">
    <div class="input-field col s12">
      <input class="validate" type="text" name="FullName" #FullName="ngModel" [(ngModel)]="population.FullName"
      [pattern]="fullNamePattern" required>
      <label data-error="Invalid Name.only characters(a-z,A-Z) are allowed!">Full Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input class="validate" type="text" name="CensusHouseNoID" #CensusHouseNoID="ngModel"
        [(ngModel)]="population.CensusHouseNoID" required>
      <label>House Number ID</label>
    </div>
  </div>

  <div class="row">
    <label style="font-size: 15px; margin-left: 10px;"  for="RelationshipToHead">Relationship To Head</label>
    <select style="display:block" class=" drpdown d-block w-100"  id="RelationshipToHead"  name="RelationshipToHead"
      #RelationshipToHead="ngModel"  required [(ngModel)]="population.RelationshipToHead">
      <option *ngFor="let key of relationToHead" [value]="key">{{key}}</option>
    </select>
  </div>

  <div class="row">
    <label style="font-size: 15px; margin-left: 10px;"  for="Gender">Gender</label>
    <select style="display:block" class=" drpdown d-block w-100"  id="Gender"  name="Gender" #Gender="ngModel"
       required [(ngModel)]="population.Gender">
      <option *ngFor="let key of gender" [value]="key">{{key}}</option>
    </select>
  </div>

  <div class="row">
    <label style="font-size: 15px; margin-left: 10px;"  for="DOB">Date of Birth</label>
    <div class="input-field col s12">
      <input class="validate" type="date" name="DOB" placeholder="DOB" #DOB="ngModel" [(ngModel)]="population.DOB"
        required>

    </div>
  </div>

  <div class="row">
    <label style="font-size: 15px; margin-left: 10px;"  for="MaritalStatus">Marital Status</label>
    <select style="display:block" class=" drpdown d-block w-100"  id="MaritalStatus"  name="MaritalStatus"
      #MaritalStatus="ngModel"  required [(ngModel)]="population.MaritalStatus" (blur)="ShowAge(MaritalStatus.value)">
      <option *ngFor="let key of maritalStatus" [value]="key">{{key}}</option>
    </select>
  </div>


  <div class="row" *ngIf="isMarried">
    <div class="input-field col s12">
      <input class="validate" type="text" name="AgeAtMarriage" #AgeAtMarriage="ngModel"
        [(ngModel)]="population.AgeAtMarriage" required>
      <label>Age At Marriage</label>
    </div>
  </div>


  <div class="row">
      <label style="font-size: 15px; margin-left: 10px;"  for="Occupation">Occupation</label>
      <select style="display:block" class=" drpdown d-block w-100"  id="Occupation"  name="Occupation" #Occupation="ngModel"
         required [(ngModel)]="population.Occupation">
        <option *ngFor="let key of occupation" [value]="key">{{key}}</option>
      </select>
    </div>

  <div class="row">
    <div class="input-field col s12">
      <input class="validate" type="text" name="NatureOfOccupationIndustry" #NatureOfOccupationIndustry="ngModel"
        [(ngModel)]="population.NatureOfOccupationIndustry" required>
      <label>Nature Of Occupation Industry</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button [disabled]="!populationRegistrationForm.valid" class="col s12 btn-large btn-submit" type="submit">Submit</button>
    </div>
  </div>
</form>